#menu {
	background-color: yellow;
	margin: 1em;
}

#timeline {
	position: relative;
	height: 900px;
	border: 2px solid silver;
	transform-style: preserve-3d;
}

.timeline_item {
	position: absolute;
}

.timeline_item_handle {
	position: static;
	height: 10px;
	min-width: 50px;
	background-color: red;
}

.timeline_item_text {
	position: static;
	min-height: 20px;
	padding: 0.4em;
	background-color: green;	
}